{% extends 'parser/base.html' %}
{% block content %}
<div class="login_div">
    <div class="login_header">Введите данные для входа bitrix</div>
    <span>{{errors}}</span>
    <form method="post">
        {% csrf_token %}
        <div class="base_input login_input">
            {{BitrixAccountDataForm.login}}
        </div>
        <div class="base_input login_input">
            {{BitrixAccountDataForm.password}}
        </div>
        <button type="submit" class="standart__button">
            Проверить
        </button>
        <div>{{errors}}</div>
    </form>
</div>
{% endblock %}